@charset "UTF-8";

*{
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  background-color: #505a41;
  background-size: cover;
  height: 100vh;
}

.login a{
  color: #505a41;
  padding: 40px;
  font-size: 30px;
  font-weight: bolder;
  text-decoration: none;
  
}

.login{
  background-color: white;
  padding: 10px;
  margin: 70px;
  border: 3px solid #313728;
  border-radius: 10px;
}

.login:hover{
  background-color: #c7dfa2;
  border-radius: 20px;
  transition: 0.5s;

}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
}

.logo{
  display: flex;
  padding: 30px;
  align-items: center;
}

.logo h1{
  color: white;
  font-size: 60px;
  
}

.logo .img-logo{
  width: 180px;
}

section{
  display: flex;
  justify-content: space-around;
  height: 85vh;
  align-items: center;
  
}

.cadastrar{
  display: flex;
  flex-flow: column;
  align-items: center;
  color: white;
  font-size: 35px;
  width: 100vw;
}

.cadastrar h1{
  font-size: 68px;
}
.cadastrar p{
  margin-bottom: 40px;
}

.cadastrar a{
  text-decoration: none;
  color:  white;
  padding: 5px 150px 5px 150px;
  border-radius: 10px;
}

.cadastrar .vamos-la {
  background-color: white;
  color: #2f3526;

}

.cadastrar .texto-cadastro{
  text-align: center;
}

.cadastrar .quero{
  border: 1px solid white;
  margin-top: 15px;
}

.cadastrar .vamos-la:hover {
  background-color: #505a41;
  border-radius: 20px;
  transition: 1s;
  color: white;
  border: 1px solid white;
  
}
.cadastrar .quero:hover{
  background-color:  white;
  color: #505a41;
  border-radius: 20px;
  transition: 1s;
}

